@import "../_variables.scss";

.HW_layout {
    display: grid;
    grid-template-columns: [info] 50% [video] 50%;

    .info {
      grid-column: info;

      h1, button {
        margin-top: 100px;
      }
    }
    .video {
      margin-top: 100px;
      grid-column: video;
      background: black;
      opacity: 0.2;
      height: 50%;
      border-radius: 40px;
    }
}
