@import "./_variables";

@font-face {
  font-family: Geometria;
  src: url('./fonts/Geometria-Thin.woff');
}

p {
  font-size: $font_size__normal;
  span {
    color: #a69ff6;
  }
}
h1 {
  font-size: $font_size__header;
  line-height: 1;
}
h2 {
  font-size: $font_size__subheader
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    display: flex;
    margin-bottom: 20px;
    &:before {
      content: '●';
      font-size: 20px;
      margin-right: 100px;
    }
  }
}
button {
  &:not(.down) {
    cursor: pointer;
    padding: 15px;
    min-width: 150px;
    border-radius: 25px;
    font-size: 9px;
    text-transform: uppercase;
    color: $color_text;
    border: 0;
    margin-right: 10px;
    background-image: linear-gradient(0.45turn, #ed86b8, #b173c6, #6f5fd5);
    box-shadow: 3px 3px 100px rgba(0,0,0,0.2);
    &.transparent {
      background: transparent;
      box-shadow: none;
      border: 1px solid $color_text;
    }
  }
  .down {
    cursor: pointer;
    position: absolute;
    bottom: 250px;
    width: 40px;
    left: 0;
    height: 40px;
    margin: 0;
    padding: 0;
    background-image: url('./images/down.png');
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
  }
  &:focus {
    outline: 0;
  }
}
button.down {
  cursor: pointer;
  position: absolute;
  bottom: 250px;
  width: 40px;
  left: 0;
  height: 40px;
  margin: 0;
  padding: 0;
  outline: 0;
  background-image: url('./images/down.png');
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
}
button + button {
  margin-left: 30px;
}
input[type="checkbox"] {
  &:not(:checked),
  &:checked {
    position: absolute;
    left: -9999px;
  }
  &:not(:checked) + label,
  &:checked + label {
    user-select: none;
    font-size: 11px;
    position: relative;
    padding-left: 50px;
    cursor: pointer;
  }
  &:not(:checked) + label:before,
  &:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    width: 21px;
    height: 21px;
    border: 1px solid $color_text;
    border-radius: 40px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
  }
  &:not(:checked) + label:after,
  &:checked + label:after {
    content: '●';
    position: absolute;
    top: 0px;
    left: 4px;
    font-size: 25px;
    line-height: 0.8;
    color: $color_text;
    transition: all .2s;
    font-family: Helvetica, Arial, sans-serif;
  }
  &:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }
  &:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }
}

div.block_inline {
  display: flex;
  &.centered_h {
    align-items: center;
  }
}
