$grids__column_padding_size: 150px;
$grids__column_second_padding_size: 150px;
$grids__row_padding_size: 140px;

$color_text: #fff;

$font_size__small: 11px;
$font_size__normal: 15px;
$font_size__header: 45px;
$font_size__subheader: 19px;
