@import "./variables.scss";
@import "./_animations.scss";

html, body, #app {
  margin: 0;
  padding: 0;
  background: #2d214d;
  color: $color_text;

  * {
    margin: 0;
    padding: 0;
    font-family: Geometria;
    font-weight: 700;
  }

  div.app_layout {
    display: grid;
    grid-template-columns: $grids__column_padding_size
                           $grids__column_second_padding_size
                           [content] auto
                           $grids__column_second_padding_size
                           $grids__column_padding_size;

    grid-template-rows: $grids__row_padding_size
                        [content] auto;

    div.content {
      position: relative;
      grid-column: content;
      grid-row: content;
      width: auto;

      div.page_wrapper {
        width: 100%;

        .fadein {
          animation-name: fadeIn;
          animation-duration: 1s;
        }
      }
    }
  }
}
