@import "./_variables.scss";

header {
  z-index: 10;
  position: fixed;
  display: flex;
  left: 300px;
  top: 50px;
  width: calc(100% - 600px);
  grid-column: content;
  grid-row: content;
  align-items: center;
  justify-content: space-between;

  .left {
    display: flex;
    align-items: center;
    .logo {
      background-image: url('./images/logo.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin-right: 30px;
      width: 100px;
      height: 50px;
    }
    .hook {
      border-left: 1px solid $color_text;
      padding: 20px 30px;
      p {
        font-size: $font_size__small;
        margin: 0;
        padding: 0;
      }
    }
  }
  .right {
    display: flex;
    align-items: center;

    a + a {
      margin: 10px;
    }
    a {
      color: $color_text;
      text-decoration: none;
      font-size: $font_size__normal;
    }
  }
}
